router-outlet {
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-12 {
  padding: 75px 1em 1em 1em;
}

.nav-link {
  cursor: pointer;
}

#exportedTextArea {
  min-height: 350px;
  min-width: 500px;
}

#exportedTextArea {
  min-height: 350px;
  min-width: 500px;
}
