<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-apidoc">
    <a class="navbar-brand" href="#">ApiVal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Caller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/entities" routerLinkActive="active">Entities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/endpoints" routerLinkActive="active">Endpoints</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tests" routerLinkActive="active">Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://sxnb.github.com/apival" target="_blank">Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openModal(about)">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link" style="cursor: default">Last autosave: {{data.prettyLastAutosave()}}</span>
            </li>
            <li class="nav-item">
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                        aria-controls="dropdown-basic">
                  Data <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem" class="app-link">
                    <a class="dropdown-item" (click)="restoreFromStorage()">Restore from Storage</a>
                  </li>
                  <li role="menuitem" class="app-link">
                    <a class="dropdown-item" (click)="openImportModal(dataImport)">Import from JSON</a>
                  </li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem" class="app-link">
                    <a class="dropdown-item">
                      <button class="btn btn-block btn-danger" (click)="openExportModal(dataExport)">Export to JSON</button>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link" (click)="restoreFromStorage()">Restore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openImportModal(dataImport)">Import</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger" (click)="openExportModal(dataExport)">Export</button>
            </li>
-->
        </ul>
    </div>
</nav>

<div class="row" style="height: 100vh">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template class="modal-lg" #dataExport>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Your Data</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <a title="Download JSON" [href]="downloadJsonHref" download="download.json">Click here</a> to download the exported JSON file.
      <div separator></div>

      Or copy the JSON below and save it to a file.

        <div separator></div>

        <tabset type="pills" #tabs>
            <tab heading="Raw Data">
                <textarea [(ngModel)]="rawData" id="exportedTextArea" class="form-control"></textarea>
            </tab>
            <tab heading="Pretty">
                <ngx-json-viewer [json]="exportedData"></ngx-json-viewer>
            </tab>
        </tabset>
    </div>
</ng-template>

<ng-template class="modal-lg" #dataImport>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Your Data</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Paste your JSON in the textbox below.

    <div separator></div>

    <textarea [(ngModel)]="importData" id="importedTextArea" class="form-control"></textarea>
 </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="import()">Import</button>
  </div>
</ng-template>

<ng-template class="modal-lg" #about>
  <div class="modal-body">
    <h2>About ApiVal</h2>
    ApiVal is an open source software, released under GPL v3 License, and created by <a href="http://www.colorcode.me" target="_blank">Colorcode</a>.
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>
