<div class="row">
  <div class="col-2">
    <h5>Entities</h5>
    <div *ngFor="let entity of entities" class="entity-item" (click)="addEntity(entity)">
      <!--<button class="btn btn-sm btn-secondary" (click)="useEndpoint({url: 'abc'})">+</button>-->
      {{entity}}
    </div>

    <div separator></div>

    <h5>Endpoints</h5>
    <div *ngFor="let endpoint of endpointService.getEndpoints()" class="endpoint-item" (click)="useEndpoint(endpoint)">
      <span class="badge badge-secondary" *ngIf="endpoint.url">{{endpoint.method}}</span>
      <span class="endpoint-name"
            tooltip="{{endpoint.url}}"
            placement="right">{{endpoint.id ? endpoint.id : endpoint.url}}</span>
    </div>

  </div>
  <div class="col-10">
    <h3>Caller</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend" dropdown>
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" dropdownToggle>{{request.method}}</button>
        <div class="dropdown-menu" *dropdownMenu role="menu">
          <a class="dropdown-item" *ngFor="let m of methods" (click)="setMethod(m)">{{m}}</a>
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="request.url">
      <div class="input-group-append">
          <!--<button type="button" class="btn btn-outline-secondary" (click)="save()">Save</button>-->
          <button type="button" class="btn bg-apidoc" (click)="send()">Send</button>
      </div>
    </div>

    <tabset type="pills" #tabs>
      <tab heading="Body">
        <textarea [(ngModel)]="request.body" class="form-control" *ngIf="request.method !== 'GET'"></textarea>
        <span *ngIf="request.method === 'GET'">GET requests do not support body.</span>

        <div separator></div>

      </tab>
      <tab heading="Headers">
        <div class="row" *ngIf="request.headers.length">
          <div class="col col-5">
            <strong>Name</strong>
          </div>
          <div class="col col-5">
            <strong>Value</strong>
          </div>
        </div>
        <div class="row header-row" *ngFor="let header of request.headers, let i = index">
          <div class="col col-10">
            <app-request-header [header]="header"></app-request-header>
          </div>
          <div class="col col-2">
            <button class="btn btn-sm btn-danger" (click)="removeHeader(i)">Delete</button>
          </div>
        </div>

        <div separator></div>

        <button class="btn bg-apidoc" (click)="addHeader()">Add Header</button>

      </tab>
      <tab heading="Response" *ngIf="request.response !== null || request.error !== null">
        <div *ngIf="request.error">
          <h5>An error has occurred.</h5>

          <tabset type="pills" id="errorTabs" #errorTabs>
            <tab heading="Content">
              <div [innerHtml]="request.error.error.text"></div>
            </tab>
            <tab heading="Pretty">
              <ngx-json-viewer *ngIf="request.error" [json]="request.error"></ngx-json-viewer>
            </tab>
            <tab heading="Raw">
              {{getStringifiedError()}}
            </tab>

          </tabset>

        </div>

        <ngx-json-viewer *ngIf="request.response" [json]="request.response"></ngx-json-viewer>
      </tab>
    </tabset>
  </div>
</div>
