<div class="validation-component">
  <h5>Validation</h5>
  <div class="row" *ngFor="let rule of rules; let id=index">
    <div class="col-2">
      <select class="form-control" [(ngModel)]="rule.type">
        <option *ngFor="let type of ruleTypes" value="{{type}}">{{type}}</option>
      </select>
    </div>
    <div class="col-6">
      <span *ngIf="rule.type === 'status'">must be</span>
      <span *ngIf="rule.type === 'type'">must be (JSON only)</span>
      <div *ngIf="rule.type === 'property'">
        <input class="form-control property-input" type="text" [(ngModel)]="rule.propertyPath">
        must equal
      </div>
    </div>
    <div class="col-3">
      <input class="form-control" type="text" [(ngModel)]="rule.expectedValue">
    </div>
    <div class="col-1">
      <button class="btn btn-sm btn-danger" (click)="deleteRule(id)">X</button>
    </div>
  </div>
  <div class="add-item-container">
    <div separator></div>
    <button class="btn btn-secondary" (click)="addRule()">Add rule</button>
  </div>
</div>