.button-container {
  margin-right: 5px;
  display: inline-block;
}

.entity-container {
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
  background-color: #b2bec3;
}

.container-title {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 5px;
}

.arrow-container {
  width: 100%;
  text-align: center;
}

.arrow-container img {
  max-height: 50px;
}

.buttons-container {
  width: 100%;
  text-align: center;
}

.rawjson {
  width: 100%;
  min-height: 300px;
}

.test-title {
  font-size: 1.1em;
}

.test-description {
  font-size: 0.7em;
}

.test-item {
  width: 100%;
  white-space: nowrap;
  font-size: 0.8em;
  text-overflow: ellipsis;
  border-bottom: solid 1px #eeeeee;
  padding: 5px 0 5px 0;
  overflow: hidden;
  cursor: pointer;
}

.test-item:hover {
  background-color: aliceblue;
}

.no-test {
  width: 100%;
  padding: 50px 90px;
  text-align: center;
}

.test-step {
  border: solid 1px #2980b9;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 5px;
}

.test-step:hover {
  background-color: #ffffff;
  cursor: grab;
}

.test-step:active {
  background-color: #95a5a6;
  cursor: grabbing;
}

.step-buttons {
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.step-buttons button {
  margin-bottom: 5px;
}
