.request-component {
  border: solid 1px #0a3d62;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 10px 0;
  width: 100%;
  text-align: center;

  textarea {
    height: 300px;
  }
}
