<div class="request-component">
  <h5>{{request.endpoint ? getRequestMethod() : ''}} Request</h5>
  <div class="row">
    <div class="col-3 col-rule">
      Endpoint
    </div>
    <div class="col-9 col-rule">
      <select class="form-control" [(ngModel)]="request.endpointId">
        <option *ngFor="let endpoint of endpointOptions" value="{{endpoint.id}}">
          {{endpoint.id !== '__apidoc_custom_endpoint' ? endpoint.id + ' - ' : ''}}{{endpoint.url}}
        </option>
      </select>
      <div separator></div>
      <div class="input-group mb-3" *ngIf="request.endpointId === '__apidoc_custom_endpoint'">
        <div class="input-group-prepend" dropdown>
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" dropdownToggle>{{request.endpointCustomMethod}}</button>
          <div class="dropdown-menu" *dropdownMenu role="menu">
            <a class="dropdown-item" *ngFor="let m of methods" (click)="setCustomMethod(m)">{{m}}</a>
          </div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="request.endpointCustomUrl">
      </div>

      <sub *ngIf="request.endpointId === '__apidoc_custom_endpoint'">
        to use a property value from the previous response, use _:STEP_NUMBER:PROPERTY_PATH:_
      </sub>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-rule">
      Headers
    </div>
    <div class="col-9 col-rule">
      <div class="row" *ngIf="request.headers && request.headers.length">
        <div class="col col-5">
          <strong>Name</strong>
        </div>
        <div class="col col-5">
          <strong>Value</strong>
        </div>
      </div>
      <div class="row" *ngFor="let header of request.headers, let i = index">
        <div class="col col-11">
          <app-request-header [header]="header"></app-request-header>
        </div>
        <div class="col col-1">
          <button class="btn btn-sm btn-danger" (click)="removeHeader(i)">X</button>
        </div>
      </div>

      <div separator></div>
      <button class="btn bg-apidoc" (click)="addHeader()">Add Header</button>
      <div separator></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-rule">
      Body
    </div>
    <div class="col-9 col-rule">
      <select class="form-control" [(ngModel)]="request.bodyType">
        <option *ngFor="let entity of bodyOptions" value="{{entity.__apidoc_identifier}}">{{entity.__apidoc_identifier}}</option>
      </select>
      <div separator></div>
      <textarea [(ngModel)]="request.bodyCustom" *ngIf="request.bodyType === 'Custom Body'" class="form-control"></textarea>
      <sub *ngIf="request.bodyType === 'Custom Body'">to use a property value from the previous response, use _:STEP_NUMBER:PROPERTY_PATH:_</sub>
    </div>
  </div>
</div>
