<div *ngFor="let property of properties | keyvalue:comparator " class="property">
  <div class="row property-name">
    <div class="col-6">
      Name:
      <input class="form-control" type="text" [ngModel]="property.key" (change)="updateKey($event, property.key)">
    </div>
    <div class="col-6">
      Type:
      <select class="form-control" [(ngModel)]="property.value.type">
        <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
      </select>
    </div>
  </div>
  <div class="property-info">
    <span *ngIf="property.value.type === 'string'">length: <input class="form-control" type="text" [(ngModel)]="property.value.length"></span>
    <span *ngIf="property.value.type === 'integer' || property.value.type === 'float'">
      min: <input class="form-control" type="text" [(ngModel)]="property.value.min">
      max: <input class="form-control" type="text" [(ngModel)]="property.value.max">
    </span>
    <span *ngIf="property.value.type === 'regex'">
      exp: <input class="form-control" type="text" [(ngModel)]="property.value.exp">
    </span>
    <span *ngIf="property.value.type === 'entity'">
      Entity type: <input class="form-control" type="text" [(ngModel)]="property.value.entityName">
    </span>
    <span *ngIf="property.value.type === 'object'">has the following properties:</span>
  </div>

  <div *ngIf="property.value.type === 'object'" style="border-left: solid 1px #ffffff; margin-left: 10px; padding-left: 10px">
    <properties-editor [properties]="property.value.properties"></properties-editor>
  </div>
</div>

<button class="btn btn-secondary" (click)="addProperty()">Add Property</button>
