<nav class="navbar navbar-expand-lg navbar-dark bg-apidoc">
  <a class="navbar-brand" href="#">ApiDoc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Caller</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Collections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Export</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>