<div *ngFor="let property of properties | keyvalue:comparator" class="property">
  <span class="property-name">{{property.key}}</span> - <span class="property-type">{{property.value.type}}</span>
  <div class="property-info">
    <span *ngIf="property.value.type === 'string'">length: {{property.value.length}}</span>
    <span *ngIf="property.value.type === 'integer' || property.value.type === 'float'">min: {{property.value.min}}, max: {{property.value.max}}</span>
    <span *ngIf="property.value.type === 'regex'">exp: {{property.value.exp}}</span>
    <span *ngIf="property.value.type === 'entity'">type: {{property.value.entityName}}</span>
    <span *ngIf="property.value.type === 'object'">has the following properties:</span>
  </div>

  <div *ngIf="property.value.type === 'object'" style="border-left: solid 1px #ffffff; margin-left: 10px; padding-left: 10px">
    <properties-viewer [properties]="property.value.properties"></properties-viewer>
  </div>
</div>
